.social{
  color: #fff;
  font-size:50px;
}
.social:hover{
  color: grey;
}

.img-fit{
  object-fit: cover;
}
.img-fit-product{
  object-fit: contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}
